/* line 5, ../sass/faq.scss */
.btn-xl {
  padding: 2.5em 1em;
  font-size: 1.5em;
  border-radius: 1em;
  margin-bottom: 1em;
  margin-left: 0.2em; }

/* line 13, ../sass/faq.scss */
.scrollable-div {
  max-height: 100%; }
