/* line 9, ../sass/home.scss */
.dropdown-menu {
  height: auto;
  max-height: 10em;
  overflow-x: hidden; }

/* line 15, ../sass/home.scss */
#quick_menu .btn {
  border-radius: 4em; }

/* line 19, ../sass/home.scss */
#quick_menu input {
  border-radius: 4em; }
