@font-face {
  font-family: "Bree_serif";
  src: url("../fonts/Bree_Serif/BreeSerif-Regular.ttf"); }
@font-face {
  font-family: "Capriola";
  src: url("../fonts/Capriola/Capriola-Regular.ttf"); }
@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf"); }
/* line 10, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, ../sass/main.scss */
body {
  font-size: 1em;
  line-height: 1em; }

/* line 24, ../sass/main.scss */
#logout:hover {
  background-color: #FF3737; }

/* line 29, ../sass/main.scss */
.login_prompt {
  font-family: Bree_serif; }

/* line 33, ../sass/main.scss */
::-webkit-input-placeholder {
  font-family: Bree_serif; }

/* line 37, ../sass/main.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-family: Bree_serif; }

/* line 42, ../sass/main.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: Bree_serif; }

/* line 47, ../sass/main.scss */
#header,
#header .btn,
#footer {
  font-family: Capriola; }

/* line 53, ../sass/main.scss */
#header {
  position: relative; }

/* line 57, ../sass/main.scss */
#footer {
  font-size: 0.9em; }

/* line 61, ../sass/main.scss */
#footer .nav-link {
  text-decoration: underline; }

/* line 65, ../sass/main.scss */
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

/* line 72, ../sass/main.scss */
#brand_logo {
  font-family: Pacifico; }

/* line 81, ../sass/main.scss */
#arrow_up {
  font-size: 3em;
  position: fixed;
  text-decoration: none;
  left: 50%;
  opacity: 0.7;
  bottom: 13%;
  display: none;
  font-weight: bold; }
  /* line 90, ../sass/main.scss */
  #arrow_up:hover {
    text-decoration: none; }

/* line 95, ../sass/main.scss */
#main_body {
  padding-bottom: 4.5em; }

/* line 100, ../sass/main.scss */
#header_nav {
  position: relative;
  line-height: 2em; }

/* line 105, ../sass/main.scss */
input[type='number'] {
  -moz-appearance: textfield; }

/* line 109, ../sass/main.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

/* line 114, ../sass/main.scss */
#carousel div div img {
  max-width: 100%;
  max-height: 100%; }

/* line 120, ../sass/main.scss */
td.table_cell:hover {
  background-color: #D5D5D5; }
