@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "compass/css3";
.btn-xl {
    padding: 2.5em 1em;
    font-size: 1.5em;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 0.2em;
}

.scrollable-div {
    max-height: 100%;
}
