@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "compass/css3";
#quick_menu {
    // background: black;
}

.dropdown-menu {
    height: auto;
    max-height: 10em;
    overflow-x: hidden;
}

#quick_menu .btn {
    border-radius: 4em;
}

#quick_menu input {
    border-radius: 4em;
}
