@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "compass/css3";
@include font-face(Bree_serif, url("../fonts/Bree_Serif/BreeSerif-Regular.ttf"));
@include font-face(Capriola,
url("../fonts/Capriola/Capriola-Regular.ttf"));
@include font-face(Pacifico,
url("../fonts/Pacifico/Pacifico-Regular.ttf"));
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    // background: $default-dark;
    line-height: 1em;
    // color: $default-light;
}

#logout {
    &:hover {
        background-color: #FF3737;
    }
}

.login_prompt {
    font-family: Bree_serif;
}

::-webkit-input-placeholder {
    font-family: Bree_serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: Bree_serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: Bree_serif;
}

#header,
#header .btn,
#footer {
    font-family: Capriola;
}

#header {
    position: relative;
}

#footer {
    font-size: 0.9em;
}

#footer .nav-link {
    text-decoration: underline;
}

.navbar {
    // position: relative;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#brand_logo {
    font-family: Pacifico;
    // position: absolute;
    // left: 50%;
    // margin-left: -50px !important;
    // /* 50% of your logo width */
    // display: block;
}

#arrow_up {
    font-size: 3em;
    position: fixed;
    text-decoration: none;
    left: 50%;
    opacity: 0.7;
    bottom: 13%;
    display: none;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}

#main_body {
    // padding-top: 4.5em;
    padding-bottom: 4.5em;
}

#header_nav {
    position: relative;
    line-height: 2em;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#carousel div div img {
    max-width: 100%;
    max-height: 100%;
}

td.table_cell {
    &:hover {
        background-color: #D5D5D5;
    }
}
