<div class="container">
    <div class="row">
        <p class="display-4">Learn <strong>about us</strong> and what we do best.</p>
    </div>
    <!--Content -->
    <div class="row">
        <h1>So who are we?</h1>
        <article>
            <p class="text-justify">Transport your world Pvt. Ltd. is a Delhi based transportation company, operating since 2010. We provide services such as car rental and car pooling to our customers. At present we have a huge database of happy and satisfied customers, who avail their services repeatedly, because of which we have become a well known brand in car pooling services.</p>
            <p class="text-justify">We're passionate about the cities we call home. Our teams are working to create opportunities for millions of people and improve the way everyone gets from A to B. It's no small task. But we wouldn't want it any other way.</p>
            <p class="text-justify">With a dedicated customer service, a state of the art web and mobile platform, and a fast-growing community of users, TransportYourWorld is making travel social, money-saving and more efficient for millions of members</p>
            <p class="text-justify">Across borders, cultures, and languages, we're proud to connect people who need a reliable ride with people looking to earn money driving their car. Your journeys inspire us. Thank you.</p>
            <h1>Our mission</h1>
            <br>
            <p>We are aiming to expand our services all over the country with the best in class services.</p>
        </article>
    </div>
    <br>
    <div class="row">
        <!-- COUNTS -->
    </div>
</div>
