<table>
    <thead>
        <tr>
            <th class="jumbotron">
                <h2>All Orders:-</h2>
            </th>
            <th align="right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#complete">Complete</a>
                        <a class="dropdown-item" href="#active">Active</a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
</table>
<!--COMPLETE-->
<table class="table table-hover" id="complete">
    <tbody>
        <tr>
            <td scope="row" rowspan="9"><img src="" alt="Car Image" style="float: left;"></td>
            <td>Invoice Number:</td>
            <td colspan="5"></td>
            <td>Order Number:</td>
            <td></td>
        </tr>
        <tr></tr>
        <tr>
            <td>Customer Name:</td>
            <td colspan="5"></td>
            <td>Order Type:</td>
            <td></td>
        </tr>
        <tr>
            <td>Car Name:</td>
            <td colspan="5"></td>
            <td>Booking Date:</td>
            <td></td>
        </tr>
        <tr>
            <td>Car Number:</td>
            <td colspan="10"></td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Generate Invoice</button>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>Fare:</td>
            <td colspan="5"></td>
            <td>Tax Rate:</td>
            <td></td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td></td>
        </tr>
        <tr>
            <td>Total Fare:</td>
            <td></td>
        </tr>
    </tbody>
</table>
<!--ACTIVE-->
<table class="table table-hover" id="active">
    <tbody>
        <tr>
            <td scope="row" rowspan="9"><img src="" alt="Car Image" style="float: left;"></td>
            <td>Order Number:</td>
            <td colspan="5"></td>
            <td>Order Type:</td>
            <td></td>
        </tr>
        <tr>
            <td>Customer Name:</td>
            <td colspan="5"></td>
            <td>Booking Date:</td>
            <td></td>
        </tr>
        <tr>
            <td>Car Name:</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td>Car Number:</td>
            <td colspan="5"></td>
        </tr>
        <tr></tr>
        <tr>
            <td>Fare:</td>
            <td colspan="5"></td>
            <td>Tax Rate:</td>
            <td></td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td></td>
        </tr>
        <tr>
            <td>Total Fare:</td>
            <td></td>
        </tr>
    </tbody>
</table>
<div align="center">
    <button type="button" class="btn btn-primary btn-lg btn-block">Upload Income and Expenditure report / Booking amount details</button>
</div>
