<div class="container">
    <div class="row">
        <h2>Cancellation policy</h2>
    </div>
    <!--Content -->
    <div class="row">
        <p>If a traveler cancels 24 hours prior the pick-up time, 10% of the total trip cost will be deducted. If a traveler cancels within 24 hours prior the pick-up time, no refund. The refunds will be made by online transfer to the customer’s bank account. No cash refund requests. The amount will be refunded approximately within 7 business days.</p>
        <p>In case customer has opted for Security Deposit:
            <br>
            <br> For Daily Rentals:
            <br> 1) If booking is cancelled within 24 hours of pickup time, one-day rental will be deducted and 3 % processing fee will be charged on rest of the refund amount.
            <br> 2) If booking is cancelled at least 24 hours prior to pick up time, no rental will be deducted, only 3% processing fee will be charged on the refund amount.
            <br> 3) If booking is cancelled at or after pick up time, it’ll be treated as no-show and no refund will be provided.
            <br>
            <br> For Hourly Rentals:
            <br> No refund will be provided in case of hourly rental booking</p>
        <p>In case customer has opted for Loss Damage Waiver (No Security Deposit):
            <br>
            <br> For Daily Rentals:
            <br> 1) If booking is cancelled within 24 hours of pickup time, one-day rental plus one-day loss damage waiver charges will be deducted and 3 % processing fee will be charged on rest of the refund amount.
            <br> 2) If booking is cancelled at least 24 hours prior to pick up time, no rental will be deducted, only 3% processing fee will be charged on the refund amount.
            <br> 3) If booking is cancelled at or after pick up time, it’ll be treated as no-show and no refund will be provided.
            <br>
            <br> For Hourly Rentals:
            <br> No refund will be provided in case of hourly rental booking</p>
        <h4>Site and Contents</h4>
        <p>The content of the pages of this website is for your general information and use only. It is subject to change without prior notice. Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements</p>
        <h4>Ownership</h4>
        <p>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. All trademarks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website. Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense. From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s). You may not create a link to this website from another website or document without prior written consent from Transport Your World Pvt. Ltd. Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authority.</p>
    </div>
</div>
