<div class="container">
    <p class="display-4">Contact Us</p>
    <h1>Feel free to contact us by filling this form :)</h1>
    <div class="row">
        <div class="col-lg-6">
            <p class="h5 text-center">First Name</p>
            <div class="input-group">
                <input type="text" class="form-control" id="firstname" placeholder="Eg. John">
                <i class="input-group-addon fa fa-user"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="h5 text-center">Last Name</p>
            <div class="input-group">
                <input type="text" class="form-control" id="lastname" placeholder="Eg. Doe">
                <i class="input-group-addon fa fa-user"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <p class="h5 text-center">Phone Number</p>
            <div class="input-group">
                <input type="number" class="form-control" id="phonenumber" placeholder="Eg. 9867453210">
                <i class="input-group-addon fa fa-phone"></i>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="h5 text-center">Email</p>
            <div class="input-group">
                <input type="email" class="form-control" id="email" placeholder="Eg. johndoe@domain.com">
                <i class="input-group-addon fa fa-envelope"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <p class="h5 text-center" align="center">Your Message</p>
        <div class="input-group">
            <textarea class="form-control" id="msg" placeholder="Don't hesitate. Share your feelings!"></textarea>
            <i class="input-group-addon fa fa-comment"></i>
        </div>
    </div>
    <br>
    <div class="row" align="center">
        <button class="btn btn-outline-default" id="submit">Submit</button>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col-lg-6">
            <blockquote class="blockquote">
                <p class="mb-2">
                    <b>Registered Office Address:</b>
                    <br><br>
 Transport Your World Private Limited,
                     A-27, Mohan Co-operative Industrial Estate,
                     Badarpur,
                    <br><br> Marhura Road,
                    <br><br> New Delhi (South),
                    <br><br> Delhi NCR-110044
                    <br><br> Telephone: 1800 100 1232
                </p>
            </blockquote>
        </div>
        <div class="col-lg-6">
            <blockquote class="blockquote blockquote-reverse">
                <p class="mb-2">
                    <b>Mail Us:</b>
                    <br><br> B 80, Mayapuri Industrial Area Phase 1,
                    <br><br> Mayapuri,
                    <br><br> Near Mayapuri Police Station,
                    <br><br> New Delhi (West),
                    <br><br> Delhi NCR
                    <br><br> Email: support@tyw.com
                    <br>
                </p>
            </blockquote>
        </div>
    </div>
</div>
