<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#caredit" role="tab">Car</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#carrentaledit" role="tab">Car Rental</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#carpoolingedit" role="tab">Car Pooling</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#locationsedit" role="tab">Locations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ordersedit" role="tab">Orders</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="caredit" role="tabpanel">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="row" rowspan="2">
                        <img src="" alt="Car Image" style="float: left;">
                    </td>
                    <td>Car Name</td>
                    <td></td>
                    <td>Car Type</td>
                    <td></td>
                    <td>Number of Passengers</td>
                    <td></td>
                    <td>
                        <button id="deletecar" type="button" class="btn btn-primary btn-sm">Delete Car</button>
                    </td>
                </tr>
                <tr>
                    <td>From</td>
                    <td></td>
                    <td>To</td>
                    <td></td>
                    <td>Departure date n Time</td>
                    <td></td>
                    <td>
                        <button id="modifypassengers" type="button" class="btn btn-primary btn-sm">Modify Passengers</button>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
        <br>
        <div align="center">
            <button type="button" id="addnewcar" class="btn btn-primary btn-lg btn-block">Add New Car</button>
        </div>
    </div>
    <div class="tab-pane" id="carrentaledit" role="tabpanel">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="row" rowspan="2"><img src="" alt="Car Image" style="float: left;"></td>
                    <td>Car Name</td>
                    <td>Car Type</td>
                    <td></td>
                    <td></td>
                    <td>Number of Passengers</td>
                    <td>
                        <button id="modifycrservice" type="button" class="btn btn-primary btn-sm">Modify Service</button>
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td></td>
                    <td>Departure date n Time</td>
                    <td></td>
                    <td>
                        <button id="deletecrservice" type="button" class="btn btn-primary btn-sm">Delete Service</button>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
        <br>
        <div align="center">
            <button id="addcrservice" type="button" class="btn btn-primary btn-lg btn-block">Add New Car Rental Service</button>
        </div>
    </div>
    <div class="tab-pane" id="carpoolingedit" role="tabpanel">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="row" rowspan="2"><img src="" alt="Car Image" style="float: left;"></td>
                    <td>Car Name</td>
                    <td>Car Type</td>
                    <td></td>
                    <td></td>
                    <td>Number of Passengers</td>
                    <td>
                        <button id="modifycpservice" type="button" class="btn btn-primary btn-sm">Modify Service</button>
                    </td>
                </tr>
                <tr>
                    <td>From</td>
                    <td></td>
                    <td>To</td>
                    <td></td>
                    <td>Departure Date / Time</td>
                    <td></td>
                    <td>
                        <button id="deletecpservice" type="button" class="btn btn-primary btn-sm">Delete Service</button>
                    </td>
                </tr>
                <tr>
            </tbody>
        </table>
        <div align="center">
            <button id="addcpservice" type="button" class="btn btn-primary btn-lg btn-block">Add New Car Pooling Service</button>
        </div>
    </div>
    <div class="tab-pane" id="locationsedit" role="tabpanel">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Locality</th>
                    <th>Town</th>
                    <th>District</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button id="addlocation" type="button" class="btn btn-primary btn-sm">Add</button>
                        <button id="deletelocation" type="button" class="btn btn-primary btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="ordersedit" role="tabpanel">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td scope="row" rowspan="4"><img src="" alt="Car Image" style="float: left;"></td>
                    <td>Order Number:</td>
                    <td colspan="5"></td>
                    <td>Order Type:</td>
                    <td></td>
                    <td rowspan="2">
                        <button id="modifyorder" type="button" class="btn btn-primary btn-sm">Modify Order</button>
                    </td>
                </tr>
                <tr>
                    <td>Customer Name:</td>
                    <td colspan="5"></td>
                    <td>Booking Date:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Car Name:</td>
                    <td colspan="7"></td>
                    <td rowspan="2">
                        <button id="deleteorder" type="button" class="btn btn-primary btn-sm">Delete Order</button>
                    </td>
                </tr>
                <tr>
                    <td>Car Number:</td>
                    <td colspan="77"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
