<ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#rental_faq" role="tab">Car Rental</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#pooling_faq" role="tab">Car Pooling</a>
    </li>
</ul>
<!--CAR RENTAL -->
<div class="tab-content">
    <div id="rental_faq" class="tab-pane active" role="tabpanel">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      What is the eligibility to hire a self-drive car?
      </a>
    </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        The minimum age to hire a Myles self-drive car is 21 years. Apart from that the customer must also possess valid driving license and ID proof (Passport/PAN card/ Aadhar card). Foreign nationals also need to have valid International Driving Permit in addition to the Driving License to hire a Myles self-drive car.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        What documents do you need as a proof?
        </a>
      </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        You need to show a valid driving license and an ID proof (Passport/PAN card/ Aadhar card) during car handover process.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        By what time do I need to upload documents?
        </a>
      </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        If you have opted for Security Deposit, then you need to pay security deposit before the pick-up time as communicated in mails and SMS. The booking is liable to be cancelled otherwise. The amount refunded in such cases will be as per our cancellation policy.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFour">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        By what time do I need to pay security deposit?
        </a>
      </h5>
                </div>
                <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block">
                        You need to pay security deposit before the time as communicated in mails and SMS. The booking is liable to be cancelled otherwise. The amount refunded in such cases will be as per our cancellation policy.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFive">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Can someone else book for me?
        </a>
      </h5>
                </div>
                <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-block">
                        Yes, but the person whose name has been mentioned in the reservation form needs to come along with the required documents to pick up the car.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSix">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Is there an agreement/document I need to sign?
        </a>
      </h5>
                </div>
                <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="card-block">
                        Yes, there is a short agreement one needs to sign while picking up the car.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSeven">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        What is Loss Damage Waiver?
        </a>
      </h5>
                </div>
                <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="card-block">
                        Loss Damage Waiver is an add-on product, available to all MYLES customers (daily booking/ hourly booking) while booking the car. Advantage of this product is, customer liabilities in case of vehicle meeting with accident will be NIL, unless otherwise it is rejected under motor vehicle base insurance policy. Customer may either choose to go for Security deposit amount or opt for Loss Damage Waiver at the time of creating booking.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingEight">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        How much is the Loss Damage Waiver premium?
        </a>
      </h5>
                </div>
                <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight">
                    <div class="card-block">
                        Loss Damage Waiver premium is different for different car segment and for daily and hourly booking.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingNine">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
        What are the benefits to me if I opt for Loss Damage Waiver (no security deposit)?
        </a>
      </h5>
                </div>
                <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="card-block">
                        Benefits of opting for loss damage waiver for you are: 1.You don’t have to pay for security deposit. It is fully waived off. 2.‘Nil’ damage liability in case of accident damage, unless claim is rejected under motor vehicle base insurance policy. 3.In case of breakdown, Towing / Hydra crane charges are covered on actual basis 4.Vehicle Registration Certificate lost at accident spot will be covered 5.Unlimited third party property liability coverage 6.Car accessories (OEM fitted) lost at accident spot will be covered
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
        What is not covered under Loss Damage Waiver?
        </a>
      </h5>
                </div>
                <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="card-block">
                        Following are not covered under loss damage waiver option: 1.Over speeding penalty 2.Penalty of only Rs. 1000 in case of accident if vehicle RC lost during trip 3.Traffic Challan / inter - state border tax 4.Smoking/ Pet in car penalty 5.Committing Illegal activities. 6.Car returned with less fuel 7.Vehicle abuse cases like clutch, brake pad excess worn out, usage of Electrical items when car is not running and any driver negligence 8.Accident claims rejected on account of Wrong declaration of details at the time of booking, due to unauthorized usage of vehicles
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingEleven">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        What would be my liabilities if I don’t opt for Loss Damage Waiver?
        </a>
      </h5>
                </div>
                <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingEleven">
                    <div class="card-block">
                        You will have impact on the following areas if not opting for Loss Damage Waiver: 1.Customer will have to pay security deposit as applicable. 2.In case of any accident, liability up to security deposit amount will be recovered 3.All incidental expenses like towing of cars will also be recovered on actual basis over and above security deposit amount. 4.Any Third Party liability (to property) above Rs 7.5 lacs linked to accident will be recovered 5.Incase if vehicle registration certificate is lost from accident spot, a penalty of Rs. 10,000/- will be recovered. 6.Theft of the properties from accident spot like Tyre, battery and music system will be recovered from customer on actual basis
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwelve">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
        What is the minimum time/days one can rent the car for?
        </a>
      </h5>
                </div>
                <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="headingTwelve">
                    <div class="card-block">
                        You can hire it for a minimum of 4 hrs.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirteen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        Can my friend/relative come to pick up the car?
        </a>
      </h5>
                </div>
                <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="headingThirteen">
                    <div class="card-block">
                        No, only the person whose name has been mentioned in the reservation form needs to come along with the required documents to pick up the car.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFourteen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        Why can’t you deliver the car?
        </a>
      </h5>
                </div>
                <div id="collapseFourteen" class="collapse" role="tabpanel" aria-labelledby="headingFourteen">
                    <div class="card-block">
                        As this is a chauffeur-less service, the cars needs to be picked/dropped from a particular location. You may choose a convenient location near you.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingFifteen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
        What is the top speed which I can drive to?
        </a>
      </h5>
                </div>
                <div id="collapseFifteen" class="collapse" role="tabpanel" aria-labelledby="headingFifteen">
                    <div class="card-block">
                        Customers are allowed to drive the car up to a maximum speed of 120 km/hr. (74 miles/hr.) or as governed by the state and road laws, whichever is lower, if car is driven beyond this speed limit, it will attract over speed penalty. We recommend you to follow the speed limits accordingly.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSixteen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
        What is the policy for security deposit?
        </a>
      </h5>
                </div>
                <div id="collapseSixteen" class="collapse" role="tabpanel" aria-labelledby="headingSixteen">
                    <div class="card-block">
                        We accept credit and debit card for security deposit. You can choose to pay the Security amount before or at the time of car pick-up and the refund of the same is initiated once car is returned. In certain cases, pre-authorization is done at the time of car pick on credit card. Pre-authorization is released once car is returned by charging Re 1 on the credit card.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingSeventeen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
        How much time does it take to get the amount refunded?
        </a>
      </h5>
                </div>
                <div id="collapseSeventeen" class="collapse" role="tabpanel" aria-labelledby="headingSeventeen">
                    <div class="card-block">
                        We usually take 1-2 days to initiate refund of your security deposit. However, depending upon your bank or card issuer, it might take 14-15 days to reach your account.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingEighteen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
        What if I return the car late?
        </a>
      </h5>
                </div>
                <div id="collapseEighteen" class="collapse" role="tabpanel" aria-labelledby="headingEighteen">
                    <div class="card-block">
                        The User will be allowed a leverage of 1 hour for returning the Vehicle. After that late return charges shall be applicable as below:
                        <br>
                        <br> In case you have opted for Security Deposit: There will be 50% surcharge in addition to the actual rental amount for the delayed period in case the car didn’t have another booking during the delayed period. There will be 100% surcharge in addition to the actual rental amount for the delayed period in case the car will have another booking during the delayed period.
                        <br> In case you have opted for Loss Damage Waiver (No Security Deposit): There will be 50% surcharge in addition to the actual rental amount along with loss damage waiver charges as applicable for the delayed period in case the car didn’t have another booking during the delayed period. There will be 100% surcharge in addition to the actual rental amount along with loss damage waiver charges as applicable for the delayed period in case the car will have another booking during the delayed period.
                        <br> In case of hourly bookings in addition to late penalty no loss damage waiver charges will be charged if the delay is under 24 hours from the pick-up time. If delay goes beyond 24 hours from pick-up time, then the applicable charges would be levied.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingNineteen">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
        What if I extend my booking?
        </a>
      </h5>
                </div>
                <div id="collapseNineteen" class="collapse" role="tabpanel" aria-labelledby="headingNineteen">
                    <div class="card-block">
                        Depending on the time of extension intimation and availability of cars during the requested period, extension of bookings will entail following charges:
                        <br> In case you have opted for Security Deposit:
                        <br> 1.When the extension request is made 24 hours or more prior to scheduled drop-off time and the car is not booked during the requested period, 30% charges will be levied on the extended duration.
                        <br> 2.When the extension request is made less than 24 hours prior to scheduled drop-off time and the car is not booked during the requested period, 50% additional charges will be charged on the extended duration.
                        <br> 3.For all other cases, you will have to pay 100% additional charges on rental amount for extended duration.
                        <br>
                        <br> In case you have opted for Loss Damage Waiver (No Security Deposit):
                        <br> 1.When the extension request is made 24 hours or before scheduled drop-off time and car is not booked during the requested period, 30% charges will be levied on the extended duration + Loss Damage Waiver charges applicable on extended duration.
                        <br> 2.When the extension request is made less than 24 hours prior to scheduled drop-off time and the car is not booked during the requested period, 50% additional charges will be charged on the extended duration + Loss Damage Waiver charges applicable on extended duration
                        <br> 3.For all other cases, you will have to pay 100% additional charges on rental amount for extended duration + Loss Damage Waiver charges applicable on extended duration.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwenty">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
        Why do you give cars with a commercial number plate?
        </a>
      </h5>
                </div>
                <div id="collapseTwenty" class="collapse" role="tabpanel" aria-labelledby="headingTwenty">
                    <div class="card-block">
                        Privately registered cars cannot be used for commercial purposes; Insurance does not cover for any eventuality in case a private car is used for commercial purposes.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentyone">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">
        Are all your locations 24*7?
        </a>
      </h5>
                </div>
                <div id="collapseTwentyone" class="collapse" role="tabpanel" aria-labelledby="headingTwentyone">
                    <div class="card-block">
                        Nearly all our locations are 24X7 except for a few locations which are open between 6 am to midnight as per local restrictions.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentytwo">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseTwentytwo">
        What if the car meets with an accident and gets damaged?
        </a>
      </h5>
                </div>
                <div id="collapseTwentytwo" class="collapse" role="tabpanel" aria-labelledby="headingTwentytwo">
                    <div class="card-block">
                        We suggest you immediately contact us and inform the local police as well.
                        <br> In case customer has opted for Security Deposit:
                        <br> Damage cost up to security deposit amount is to be paid by the customer on actuals. In case of a damage over security deposit amount, insurance claim will be filed and depreciation amount and parts which are not covered under insurance will be borne by the customer (*Refer Terms of use for more information). The assessment of damage made by the Company will be final.
                        <br> In case customer has opted for Loss Damage Waiver (No Security Deposit):
                        <br> Damage charges are covered under Loss damage waiver product, subject to accident details are provided and required document are submitted.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentythree">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentythree" aria-expanded="false" aria-controls="collapseTwentythree">
        What if the car gets damaged by someone else/natural calamity?
        </a>
      </h5>
                </div>
                <div id="collapseTwentythree" class="collapse" role="tabpanel" aria-labelledby="headingTwentythree">
                    <div class="card-block">
                        The person in whose name the car is booked is completely liable for damages done by anyone else driving the car. The current insurance does not cover any damage by act of god.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentyfour">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyfour" aria-expanded="false" aria-controls="collapseTwentyfour">
        What if the cars gets stolen?
        </a>
      </h5>
                </div>
                <div id="collapseTwentyfour" class="collapse" role="tabpanel" aria-labelledby="headingTwentyfour">
                    <div class="card-block">
                        A police complaint needs to be registered immediately and the same needs to be informed to us
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--CAR POOLING-->
<div class="tab-content">
    <div id="pooling_faq" class="tab-pane" role="tabpanel">
        <div id="accordion2" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentyfive">
                    <h5 class="mb-0">
      <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyfive" aria-expanded="true" aria-controls="collapseTwentyfive">
      What is carpooling?
      </a>
    </h5>
                </div>
                <div id="collapseTwentyfive" class="collapse show" role="tabpanel" aria-labelledby="headingTwentyfive">
                    <div class="card-block">
                        Carpooling is defined as two or more persons sharing their daily commute on a regular basis.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentysix">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentysix" aria-expanded="false" aria-controls="collapseTwentysix">
        Who Benefits?
        </a>
      </h5>
                </div>
                <div id="collapseTwentysix" class="collapse" role="tabpanel" aria-labelledby="headingTwentysix">
                    <div class="card-block">
                        Your wallet:
                        <br> The Canadian Automobile Association reports the average yearly cost to operate a car can be as much as $9,000 year, or nearly $25 per day! Carpooling can help you offset these costs. The more people you share your commute with, the more you can expect to save.
                        <br> Your health:
                        <br> The congestion and volume of traffic on the roads are a major source of stress for many drivers. Studies show that those who commute by means other than a single-occupancy vehicle demonstrate lower levels of stress, higher morale, and lower blood pressure.
                        <br> The environment:
                        <br> The environment is everyone’s business. Using fewer cars means less pollution, conservation of habitat, and less demand for new roads and parking lots. Using fewer cars also means less production of greenhouse gases, a major contributor to climate change. Carpool regularly and you can feel proud that you’re helping the environment.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentyseven">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyseven" aria-expanded="false" aria-controls="collapseTwentyseven">
        Are participants Screened?
        </a>
      </h5>
                </div>
                <div id="collapseTwentyseven" class="collapse" role="tabpanel" aria-labelledby="headingTwentyseven">
                    <div class="card-block">
                        No. The Transport your World Pvt. Ltd. system is provided solely to assist commuters in identifying potential carpool partners. Transport your World Pvt. Ltd., its partners and sponsors, do not screen participants. We do not run background checks on participants, check for valid drivers’ licenses, or assess insurance coverage. We highly recommend getting to know your carpool partners before you begin carpooling.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentyeight">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentyeight" aria-expanded="false" aria-controls="collapseTwentyeight">
        How much should carpool passengers pay?
        </a>
      </h5>
                </div>
                <div id="collapseTwentyeight" class="collapse" role="tabpanel" aria-labelledby="headingTwentyeight">
                    <div class="card-block">
                        The answer to this question varies from one carpool group to another. In carpools where driving is equally shared, no money needs to change hands as each member is using their personal vehicle an equal amount of time. When one person does the all driving, or when there is an unequal split of driving responsibilities, the cost-sharing arrangement should be discussed by those in the carpool. The carpool members are free to base the costs on whatever they may choose. Sharing parking and fuel expenses is most common.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwentynine">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwentynine" aria-expanded="false" aria-controls="collapseTwentynine">
        How much will I save by carpooling?
        </a>
      </h5>
                </div>
                <div id="collapseTwentynine" class="collapse" role="tabpanel" aria-labelledby="headingTwentynine">
                    <div class="card-block">
                        Depending on your vehicle and driving patterns, the cost per km of driving a vehicle can range from approximately $0.40 to over $0.80 per kilometre.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirty">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirty" aria-expanded="false" aria-controls="collapseThirty">
        Do I have to carpool every day?
        </a>
      </h5>
                </div>
                <div id="collapseThirty" class="collapse" role="tabpanel" aria-labelledby="headingThirty">
                    <div class="card-block">
                        No! This is the most common misconception around carpooling. Our carpool.ca survey results show that the average carpooler carpools 3 days per week. Everyone has commitments outside of their daily commute. You could carpool every day or only once or twice a week. You and your carpool members decide upon the schedule. Some people even belong to two carpools - you may carpool with one carpool on Mondays and Wednesdays and then join a second carpool for the remainder of the week. You might also be able to carpool to work and then take transit home at the end of the day.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtyone">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtyone" aria-expanded="false" aria-controls="collapseThirtyone">
        What happens if I oversleep or am late?
        </a>
      </h5>
                </div>
                <div id="collapseThirtyone" class="collapse" role="tabpanel" aria-labelledby="headingThirtyone">
                    <div class="card-block">
                        Being on-time is just as important in a carpool as it is with transit. Each carpool should have clearly defined guidelines for how long they will wait.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtytwo">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtytwo" aria-expanded="false" aria-controls="collapseThirtytwo">
        What if I have a doctor's appointment or errands to run before, after, or during work?
        </a>
      </h5>
                </div>
                <div id="collapseThirtytwo" class="collapse" role="tabpanel" aria-labelledby="headingThirtytwo">
                    <div class="card-block">
                        Schedule your appointments and errands on the days you don't carpool. Your carpool only serves one purpose – getting you back in forth to work or school.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtythree">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtythree" aria-expanded="false" aria-controls="collapseThirtythree">
        What if I have to work late?
        </a>
      </h5>
                </div>
                <div id="collapseThirtythree" class="collapse" role="tabpanel" aria-labelledby="headingThirtythree">
                    <div class="card-block">
                        If you know you have to work late on a particular day then don't carpool or make arrangements to take the bus home. Carpooling is meant to be a flexible and convenient arrangement. On those days when it is not convenient, commute to work in another manner. Take the bus, your bike, walk, or bring your own car.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtyfour">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtyfour" aria-expanded="false" aria-controls="collapseThirtyfour">
        What if my carpool isn't working out?
        </a>
      </h5>
                </div>
                <div id="collapseThirtyfour" class="collapse" role="tabpanel" aria-labelledby="headingThirtyfour">
                    <div class="card-block">
                        Let your present carpool group know that you’re leaving and go back to the Transport your World Pvt. Ltd. to find a new carpool partner and try again. You can do the same if you need to replace carpool members.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtyfive">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtyfive" aria-expanded="false" aria-controls="collapseThirtyfive">
        Is my information private?
        </a>
      </h5>
                </div>
                <div id="collapseThirtyfive" class="collapse" role="tabpanel" aria-labelledby="headingThirtyfive">
                    <div class="card-block">
                        We know that security is very important to you. You can be assured that our database is very secure. While online, you will be identifiable to other users only through a your first name until you’re ready to make contact with carpool matches.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtysix">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtysix" aria-expanded="false" aria-controls="collapseThirtysix">
        How do I make changes to my trips or add additional trips?
        </a>
      </h5>
                </div>
                <div id="collapseThirtysix" class="collapse" role="tabpanel" aria-labelledby="headingThirtysix">
                    <div class="card-block">
                        Log-in using your user id and password and makes changes as needed.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtyseven">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtyseven" aria-expanded="false" aria-controls="collapseThirtyseven">
        What about car insurance?
        </a>
      </h5>
                </div>
                <div id="collapseThirtyseven" class="collapse" role="tabpanel" aria-labelledby="headingThirtyseven">
                    <div class="card-block">
                        Check your policy if you will be a driver in a carpool. Your insurance rates may rise or fall if you carpool on a regular basis. To adequately protect yourself and your passengers, liability insurance of at least $2,000,000 is recommended as well as underinsured motorist protection. These are a good investment and cost only a few dollars more each year. We also recommend that you notify your insurance provider of your intent to carry passengers. Passengers should also protect themselves by asking drivers about their insurance coverage.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThirtyeight">
                    <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThirtyeight" aria-expanded="false" aria-controls="collapseThirtyeight">
        How do we keep our carpool working?
        </a>
      </h5>
                </div>
                <div id="collapseThirtyeight" class="collapse" role="tabpanel" aria-labelledby="headingThirtyeight">
                    <div class="card-block">
                        The key to long-term success in any relationship includes communication, understanding, respect, honesty and flexibility. Your commitment to carpooling can result in long-term savings and unexpected friendships.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
