<link rel="stylesheet" href="assets/stylesheets/timePicker.css">
<div id="quick_menu">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a id="tab_rental" class="nav-link active" data-toggle="pill" href="#rental" role="tab">Rental</a>
        </li>
        <li class="nav-item">
            <a id="tab_pooling" class="nav-link" data-toggle="pill" href="#pooling" role="tab">Pooling</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="rental" role="tabpanel">
            <br>
            <form class="form-inline">
                <label for="location_rental">Select a location: </label>
                <div class="form-group ml-2 mb-2 mr-sm-2 mb-sm-0 col-lg-6">
                    <input id="location_rental" class="form-control location" type="text" autocomplete="off" style="width: 80%">
                </div>
            </form>
            <br>
            <form class="form-inline">
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="passnum_rental" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">No. of passengers<i class="caret"></i></a>
                </div>
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="cartype_rental" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">Car type<i class="caret"></i></a>
                </div>
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="carname_rental" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">Car name<i class="caret"></i></a>
                </div>
                <div class="form-group ml-auto mb-2 mr-sm-2 mb-sm-0">
                    <button id="search_rental" class="form-control btn btn-outline-info" type="button">Search</button>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="pooling" role="tabpanel">
            <br>
            <form class="form-inline">
                <label class="ml-2" for="origin_pooling">Select an origin: </label>
                <div class="form-group ml-2 mb-2 mr-sm-2 mb-sm-0">
                    <input id="origin_pooling" class="form-control location" type="text" autocomplete="off" style="width: 100%">
                </div>
                <label class="ml-2" for="destination_pooling">Select a destination: </label>
                <div class="form-group ml-2 mb-2 mr-sm-2 mb-sm-0">
                    <input id="destination_pooling" class="form-control location" type="text" autocomplete="off" style="width: 100%">
                </div>
            </form>
            <br>
            <form class="form-inline">
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="passnum_pooling" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">No. of passengers<i class="caret"></i></a>
                </div>
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="depdate_pooling" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">Departure date<i class="caret"></i></a>
                </div>
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="deptime_pooling" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">Departure time<i class="caret"></i></a>
                </div>
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="cartype_pooling" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">Car type<i class="caret"></i></a>
                </div>
                <div class="dropdown mb-2 mr-sm-2 mb-sm-0">
                    <a id="carname_pooling" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button">Car name<i class="caret"></i></a>
                </div>
                <div class="form-group ml-auto mb-2 mr-sm-2 mb-sm-0">
                    <button id="search_pooling" class="form-control btn btn-outline-info" type="button">Search</button>
                    <button id="quick_pooling" class="form-control btn btn-outline-info ml-sm-2" type="button">Quick pool</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mt-3">
    <table class="table table-responsive">
        <tbody id="car_list">
        </tbody>
    </table>
</div>
<script src="assets/javascripts/jquery-timepicker.js"></script>
<script src="assets/javascripts/bootstrap3-typeahead.min.js"></script>
<script src="assets/javascripts/home.js"></script>
