<table class="table table-hover">
    <tbody>
        <tr>
            <td>Order Number:</td>
            <td colspan="2"></td>
            <td>Order Type:</td>
            <td colspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td>Car Number:</td>
            <td colspan="2"></td>
            <td>Number of Passengers:</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>Booking Date:</td>
            <td colspan="2"></td>
            <td>End Date:</td>
            <td colspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td>Fare:</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>Tax:</td>
            <td colspan="2"></td>
            <td>Tax Rate:</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>Total:</td>
            <td colspan="4"></td>
        </tr>
        <tr></tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-primary">Modify Order</button>
            </td>
            <td></td>
            <td>
                <button type="button" class="btn btn-primary">Delete Order</button>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
