<table>
    <tbody>
        <tr>
            <td>Username:</td>
            <td colspan="2"></td>
            <td>License Number:</td>
            <td colspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td>First Name:</td>
            <td colspan="2"></td>
            <td>Last Name:</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>Contact Number:</td>
            <td colspan="2"></td>
            <td>Email id:</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Change Password</button>
            </td>
        </tr>
    </tbody>
</table>
<!--EDIT BUTTON-->
<a href="#" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
